.container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.upBox {
  margin-top: 50px;
  height: 30%;
  width: 100%;
}

.downBox {
  height: 70%;
  width: 100%;
  background-color: #006c61;
}
