---
extends: airbnb
parser: babel-eslint

env:
  es6: true
  node: true
  mocha: true

globals:
  window: false
  document: false
  Generator: true

rules:
  import/no-webpack-loader-syntax: [0]
  import/no-unresolved: [0]
  import/no-extraneous-dependencies: [0]
  react/prop-types: [0]
  react/sort-comp: [0]
  react/no-unused-prop-types: [0]

