.item {
  display: inline-block;
  font-size: 12px;
  width: auto;
}

.item span {
  padding: 0 10px;
}

.item > span > a {
  color: white;
  text-decoration: initial;
}

.item span > a:hover {
  color: #60ff00;
  text-shadow: 0px 0px 10px rgb(255, 255, 255);
  cursor: pointer;
}
.item::after {
  content: '/';
}

.lastItem {
  display: inline-block;
  font-size: 12px;
  width: auto;
}

.lastItem span {
  padding: 0 10px;
}

.lastItem > span > a {
  color: white;
  text-decoration: initial;
}

.lastItem span > a:hover {
  color: #60ff00;
  text-shadow: 0px 0px 10px rgb(255, 255, 255);
  cursor: pointer;
}
